*{
  
    box-sizing: border-box;
    overflow: hidden;
  }
  
  body{
      
      
      
      /* background-color: #000133; */
      background-image: url(photo/pexels-fwstudio-139312.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 50vw;
      height: 100vh;
      margin: auto;
      
     
  }
  
  .all-aitem{
  
      margin-top: 88px;
      
  
    
  }
  
  .todovalue{
      border: 1px solid #cd863fe7   ;
      height: 100%;
      width: 40vw;
      padding: 15px;
      margin: 0 0 15px;
      box-sizing: border-box;
      border-radius: 10px;
      background: #cd863fe7;
      font-size: 16px;
  
      
  }
  
  .btn{
      width: 100px;
      height: 48px;
      border: 1px solid #cd863fc3;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #cd863fc3;
      border-radius: 10px;
      cursor: pointer;
      color: #000133;
      font-weight: bold;
      
  }
  
  .btn:hover{
      background:#b87333 ;
  }
  
  .box-items{
  
      display: flex;
      gap: 66px;
  
      
  
  }
  
  .add-box{
      width: 78%;
      height: 45px;
      border: 1px solid #cd863fe7;
      color: #000133;
      background: #cd863fe7;
      border-radius: 10px;
      padding: 6px;
      font-size: 25px;
      /* font-weight: bold; */
  
  
  }